## Set root logger level to DEBUG and its only appender to A1.
#log4j.rootLogger=*, A1, A2, SNS
#log4j.rootLogger=DEBUG#, A1, A2, SNS
log4j.rootLogger=INFO, A1, A2
#log4j.rootLogger=INFO, A1, A2, SNS
#log4j.rootLogger=WARN, A1, A2, SNS
#log4j.rootLogger=WARN, A1, A2
#log4j.rootLogger=ERROR, A2, SNS

# A1 is set to be a ConsoleAppender.
log4j.appender.A1=org.apache.log4j.ConsoleAppender
log4j.appender.A1.target=System.out
log4j.appender.A1.layout=org.apache.log4j.PatternLayout
#log4j.appender.A1.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n
#log4j.appender.A1.layout.ConversionPattern=%5p [%t] (%c) - %m%n
log4j.appender.A1.layout.ConversionPattern=%d %5p [%t] (%c) - %m%n
log4j.appender.A1.Threshold = DEBUG

log4j.appender.A2=org.apache.log4j.ConsoleAppender
log4j.appender.A2.Threshold = ERROR
log4j.appender.A2.target=System.err
log4j.appender.A2.layout=org.apache.log4j.PatternLayout
#log4j.appender.A2.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n
log4j.appender.A2.layout.ConversionPattern=%d %5p [%t] (%c) - %m%n

#log4j.appender.SNS=com.carrotgarden.log4j.aws.sns.Appender
#log4j.appender.SNS.threshold=WARN
#log4j.appender.SNS.credentials=AwsCredentials.properties
#log4j.appender.SNS.topicName=floow-error-reporting
#log4j.appender.SNS.topicSubject=com.floow.errors
#log4j.appender.SNS.evaluatorClassName=com.carrotgarden.log4j.aws.sns.EvaluatorThrottler
#log4j.appender.SNS.evaluatorProperties= period=10 \n unit=SECONDS \n mask=LOGGER_NAME,FILE_NAME,LINE_NUMBER,METHOD_NAME,STACK_TRACE
#log4j.appender.SNS.layout=com.thefloow.utils.logging.LayoutJSON
#log4j.appender.SNS.layout.UsePrettyPrinter=true

log4j.appender.SNS=br.com.insula.log4j.sns.SNSAppender
log4j.appender.SNS.AccessKey=AKIAIFPJKRSW7Q3KD4EQ
log4j.appender.SNS.SecretKey=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
log4j.appender.SNS.Subject=com.floow.errors
log4j.appender.SNS.Topic=floow-error-reporting
log4j.appender.SNS.Threshold=ERROR
log4j.appender.SNS.layout=com.thefloow.utils.logging.HostPatternLayout
log4j.appender.SNS.layout.ConversionPattern=%d %5p [%t] (%c) - %m%n
#log4j.appender.SNS.layout.ConversionPattern=%d [%t] %-5p %c - %m%n
#log4j.appender.SNS.evaluatorClass=com.thefloow.utils.logging.SNSLoggingEventEvaluator
log4j.appender.SNS.evaluatorClass=br.com.insula.log4j.sns.QuietPeriodTriggeringEventEvaluator